.fantasma1,
.fantasma2,
.fantasma3,
.fantasma4,
.fantasma5
{
    width: 40px;
    height: 60px;
    background-color: blueviolet;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding-top: 5px ;
    text-align: center;
    animation:carrera 5s all;
    position: relative;
}
    .fantasma2{
        background-color: chartreuse;
        animation: carrera 5s ease;
}
.fantasma3{
    background-color: darksalmon;
    animation: carrera 5s ease-in;
}
.fantasma4{
    background-color: deeppink;
    animation: carrera 5s ease-out;
}
.fantasma5{
    background-color: fuchsia;
    animation: carrera 5s ease-in-out;
}
@keyframes carrera{
    0%{top: 0; left: 0;}
    100%{top: 0;left: 1000px;}

}
/*pasos de animacion*/
@keyframes mover{
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 500px;
        background-color: transparent;
        color: red;
    }
    50%{
        top: 300px;
        left: 500px;
        background-color: black;
        color: yellow;
    }
    75%{
        top: 300px;
        left: 0px;
        background-color: transparent;
        color: red;
    }
    100%{
        top: 0px;
        left: 0px;
    }


}